.logo{
    height: 100px;
    width: 90px;
}
.ayrac{
    font-size: 20px;
    margin: 0px 20px; 
    color: white;
}
.nav-bg{
    background-color: rgba(85, 85, 85, 0.493)
}
.üst-kisim{
    background-image: url(resim/web-tasarim-gerekenler.jpg);
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.üst-kisim-sayfalar{
    background-image: url(resim/arkaplançjpg.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-yuk{
    height: calc(50vh-70px);
}

.sayfa-baslik h3{
    color:black;
    font-weight: bold;

}
.sayfa-baslik p{
    color:black;
    font-weight: bold;
}
    
.nav-item a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.nav-item a:hover{
    color:black
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

@media screen and (max-width){
    .ayrac{
        display: none;
    }
    .nav-item:hover{
        background-color: black;

    }
}
.yazı{
    color: dimgrey;
    font-style: italic;

}
.arka{
    background-color: darkgrey;
}

.teklif{
    height: 60px;
}

.tirnak{
    color: dimgray ;
    font-size: 36px;
    font-weight: bold;
}
.imza{
    font-size: 20px;

}

.hizmetlerimiz{
    background-color:#fff

}
.rsm{
    width: 150px;
    height: 150px;
}
.rsmm{
    width: 450px;
    height: 450px;
}
.kimiz{
    background-color: dimgray;
}

.calisma{
    padding: 5px;
    border: 1px solid transparent;
    

}
.calisma:hover{
    border: 3px solid gray;
    cursor: pointer;
}
.calisma img{
    height: 150px;
}

.footer{
    background-color: dimgrey;
    height: 300px;
    
}

.footer-sutun{
    height: 300px;
}

.arkapln{
    background-color: dimgray;
}
.p-rsm{
    height: 150px;
    width: 150px;
}